{% extends 'base.html.twig' %}

{% block title %}Détail de la série n°{{ serie.id }}{% endblock %}

{% block body %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
            url("{{ asset("/backdrops/" ~ serie.backdrop) }}");
        }
    </style>

    <h1>Détail de la série n°{{ serie.id }}</h1>

    <ul>
        <li>{{ serie.name }}</li>
        <li>{{ serie.overview }}</li>
        <li>{{ serie.status }}</li>
        <li>{{ serie.firstAirDate|date('d/m/Y') }}</li>
    </ul>

    <a class="btn btn-primary" href="{{ path('serie_update', {'id' : serie.id }) }}">Editer</a>
{% endblock %}