{% extends 'base.html.twig' %}

{% block title %}Détail de la série n°{{ serie.id }}{% endblock %}

{% block body %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
            url("{{ asset("/backdrops/" ~ serie.backdrop) }}");
        }
    </style>

    <h1>Détail de la série n°{{ serie.id }}</h1>

    <ul>
        <li>{{ serie.name }}</li>
        <li>{{ serie.overview }}</li>
        <li>{{ serie.status }}</li>
        <li>{{ serie.firstAirDate|date('d/m/Y') }}</li>
    </ul>

    <h2>Saisons</h2>
    <ul>
    {% for season in serie.seasons %}
        <li>{{ season.number }} : {{ season.overview }}</li>
    {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{{ path('serie_update', {'id' : serie.id }) }}">Editer</a>
    <a class="btn btn-danger" href="{{ path('serie_delete', {'id' : serie.id, 'token' : csrf_token('delete'~serie.id) }) }}" onclick="return confirm('Etes vous sûr ??');">Editer</a>
{% endblock %}