<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Saint Herblain Series{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
            <h1><img src="{{ asset('images/logo.png') }}"></h1>
            <nav>
                <ul>
                    {% if is_granted('IS_AUTHENTICATED') %}
                        <li style="padding: 5px;"><a href="{{ path('serie_list') }}">Séries</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li style="padding: 5px;"><a href="{{ path('serie_create') }}">Nouvelle Série</a></li>
                        {% endif %}
                        <li style="padding: 5px;"><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% else %}
                        <li style="padding: 5px;"><a href="{{ path('app_register') }}">S'inscrire</a></li>
                        <li style="padding: 5px;"><a href="{{ path('app_login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </nav>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
    </body>
</html>
